@media only screen and (max-width: 1200px) {
  .login_detail button.btn {
    font-size: 13px;
  }
  .button a {
    font-size: 10px;
  }
  .logo_brand {
    justify-content: start;
  }
  .logo_brand .looking {
    margin: 10px;
  }
  ul.footer_menu li a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 992px) {
  .heading h1 {
    font-size: 50px;
  }
  .container {
    max-width: 90% !important;
  }
  .box {
    margin-bottom: 20px;
  }
  h2 {
    font-size: 40px !important;
  }
  .home .sec_3 p br {
    display: none;
  }
  .sec_3_cashback h2 {
    font-size: 80px !important;
  }
  .testimonial .slick-prev:before {
    left: 40% !important;
  }
  .testimonial .slick-next:before {
    right: 40% !important;
  }
  .testimonial_sliders p br {
    display: none;
  }
  .testimonial_sliders h6 {
    font-size: 16px;
  }
  .testimonial_sliders p {
    font-size: 12px;
  }
  .sec_5 .easy h6 {
    font-size: 18px;
  }
  section.sec_5 .easy .get_money {
    padding-bottom: 30px;
  }
  .copy_right li a {
    font-size: 11px;
    margin-top: 20px;
    padding: 0px 10px;
  }
  .copy_right ul {
    padding: 0 !important;
  }
  .home header .site_logo img {
    width: 100%;
  }
  .get_my_check ul {
    width: 60%;
  }
  .step_1 input#site-search {
    width: 100%;
  }
  .step_1 button {
    padding: 0;
    margin-top: 10px !important;
  }
  .form_button button {
    padding: 8px 24px;
  }
  .edit_icon button img {
    width: 20px;
  }
  .text-right.button_left {
    text-align: left !important;
    margin: 10px 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .heading h1 br {
    display: none;
  }
  .heading h1 {
    font-size: 40px;
    padding-top: 40px !important;
  }
  .login_detail button.btn {
    margin-bottom: 20px;
  }
  h5 {
    font-size: 18px !important;
  }
  .home .sec_2 p {
    width: 100%;
    font-size: 13px;
  }
  h2 {
    font-size: 30px !important;
  }
  .sec_3_cashback h2 {
    font-size: 60px !important;
  }
  .video-banner.text-right {
    text-align: center !important;
  }
  .sec_4 .video-banner.text-right img {
    width: 100%;
  }
  .video_slide .watch_icon img {
    width: 50px !important;
  }
  .logo_brand .looking.border-right {
    border: none !important;
  }
  .copy_right ul {
    display: block;
  }

  .copy_right li a {
    border-right: 0 !important;
  }
  .question .btn {
    padding: 4px 24px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 575px) {
  h2 {
    font-size: 24px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  .sec_3_cashback h2 {
    font-size: 40px !important;
  }
  .testimonial .slick-prev:before {
    left: 30% !important;
  }
  .testimonial .slick-next:before {
    right: 30% !important;
  }
  .get_my_check ul {
    width: 100%;
  }
}
