@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;

  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"),
    url("./fonts/slick.woff") format("woff"),
    url("./fonts/slick.ttf") format("truetype"),
    url("./fonts/slick.svg#slick") format("svg");
}
/* Arrows */
/*.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    display: block;
    bottom: unset;
    width: 35px;
    height: 35px;
    padding: 10px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: #003D7E;
    border-radius: 100%;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}


.slick-prev
{
    left: -50px;
	top: 50%;
	transform:translateY(-50%);
    display: flex;
    align-items: center;
}
.slick-prev img{
    margin-right: 2px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -50px;
    top: 50%;
	transform:translateY(-50%);
}
.slick-next img{
    margin-left: 3px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}


.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 10px;
    height: 15px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 10px;
    height: 15px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 8px;
    line-height: 20px;

    position: absolute;
    top: -34px;
    left: 0;

    width: 10px;
    height: 15px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #fff;
}
*/

.slick-prev,
.slick-next {
  background-color: transparent;
  border: none;
}
.slick-prev:focus,
.slick-next:focus {
  outline: none;
}
.slick-prev:before {
  /*content:"";*/
  /*font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;*/
  /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;*/
  /*font-size:30px;
	color:#333;*/
  /*z-index:99999;
	width:30px;
	height:50px;
	background-image:url(../Images/arrow1.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:100%;*/
}
.testimonial .slick-prev:before {
  content: "";
  position: absolute;
  left: 44%;
  z-index: 999;
  width: 50px;
  height: 30px;
  background-image: url(../images/Union%207.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  bottom: -50px;
}
.testimonial .slick-next:before {
  content: "";
  position: absolute;
  right: 44%;
  z-index: 999;
  width: 50px;
  height: 30px;
  background-image: url(../images/Union%201.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  bottom: -50px;
}

.slick-next:before {
  /*content:"";*/
  /*	font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;*/
  /*position: absolute;
    top: 50%;*/
  /*color:#333;
	font-size:30px;*/
  /*transform: translateY(-50%);
    right: -50px;
	
	width:30px;
	height:50px;
	background-image:url(../Images/arrow2.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:100%;*/
}
