<header class="fix_header">
  <div class="container">
    <div class="row align-itmes-center">
      <div class="col-md-3 col-6"> <div class="site_logo"><a routerLink="/bonus-coverage"> <img src="../../assets/images/Layer_x0020_1.png" /></a> </div></div><!--col-3-->      
      <div class="col-md-9 col-6 pull-right">
        <div [style.display]="IsLogin ? 'block' : 'none'" class="login_right">
          <a routerLink="/bonus-coverage/profile" class="my-account"><img src="../../assets/images/user.svg" class="img-fluid" alt="HPW"> My Account</a> |
          <a class="my-account" (click)="Logout()">Logout</a>
        </div>
        <a [style.display]="IsLogin ? 'none' : 'block'" href="javascript:void(0)" class="my-account login_right" data-toggle="modal" data-target="#loginmodal"><img src="../../assets/images/user.svg" class="img-fluid" alt="HPW"> Login</a>
      </div>      
      <!--col-9-->
    </div><!--row-->
  </div><!--container-->
</header>
<app-login></app-login>

<div class="modal fade" id="forgotPassword" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <div class="inquiry-form p-4 p-md-5">
          <div class="heading mb-3 mb-md-5">
            <h2 class="mb-3 text-uppercase wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">Forgot Password</h2>
            <p>Don’t worry. Resetting your password is easy. Just te us the Email Address you Registered with HPW.</p>
          </div>
          <form action="" method="post">
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Enter Your Email" name="" required>
            </div>
            <div class="text-center pb-4">
              <button type="submit" name="submit" class="btn btn-block btn-dark-purple">Login</button>
            </div>
            <div class="text-center"><a href="#">Back to Login</a></div>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>
