<div class="login-model modal fade" id="loginmodal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="loginmodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <button type="button" class="login close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="inquiry-form p-4">
                <div class="heading mb-3 mb-md-4">
                  <h2 class="mb-3 text-uppercase wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">Login Account</h2>
                  <p>Log In to view your Product details, Order history and more.</p>
                </div>
                <form (ngSubmit)="onSubmit($event)" #loginForm="ngForm">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="email"
                           required
                           [(ngModel)]="model.email" name="email"
                           #name="ngModel">                   
                  </div>
                  <div class="form-group">
                    <label for="name">Password</label>
                    <input type="password" class="form-control" id="password"
                           required
                           [(ngModel)]="model.password" name="email"
                           #name="ngModel">                    
                  </div>
                  <button type="submit" class="btn btn-block btn-dark-purple" [disabled]="!loginForm.form.valid">Submit</button>                  
                </form>                
              </div>

            </div>
            <div class="col-md-6 p-0">
              <div class="car-bg">
                <img src="../../assets/images/popup-bg.png" class="img-fluid" alt="HPW" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
